/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e4d7c5;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Splash Screen Styles */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 3s ease-out 1 forwards;
}

.splash-logo {
    width: 50%; /* Adjust size as needed */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilos do Header */
header {
    display: flex;
    gap: 40px;
    padding: 20px 40px;
    max-width: 900px;
    margin: auto;
    width: 100%;

}

header a {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

/* Estilos da Navegação */
nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    /* gap: 30px; */
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

main {
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    /* height: 100%; */
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 20px 40px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

section.hidden {
    display: none;
}

section h1 {
    font-family: "Lobster", sans-serif;
    font-style: normal;
    line-height: 1em;
    font-weight: 400;
    /* letter-spacing: 2px; */
    text-shadow: 2px 2px 0 #3d3933;
    font-size: 3em;
    color: #FFF;
    margin-bottom: 20px ;
}

section h2 {
    font-family: "Lobster", sans-serif;
    font-style: normal;
    /* line-height: 100%; */
    font-weight: 400;
    /* letter-spacing: 2px; */
    text-shadow: 2px 2px 0 #3d3933;
    font-size: 2em;
    color: #FFF;
    margin-bottom: 20px ;
}

.hero-image {
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.block {
    display: flex;
}

.logo {
    height: 80px;
}
/* Estilos do Rodapé */
footer {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: #333;
    font-size: 12px;
    line-height: 16px;

}

/* Media query for screens smaller than 700px */
@media (max-width: 700px) {
    nav {
        justify-content: center;
    }

section h2 {
    font-size: 10vw;
}
.hero-image {
    max-height: 230px;
}

}

.impact-numbers {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 40px 0;
}

.impact-item {
    text-align: center;
    /* width: 200px; */
    max-width: 50%;
    margin: 20px;
}

.impact-item i {
    color: #4CAF50;
    margin-bottom: 10px;
}

canvas {
    margin: 40px auto;
    display: block;
    max-width: 600px;
}

#highlights ul {
    list-style-type: none;
    padding: 0;
}

#highlights ul li {
    margin: 20px 0;
}

#highlights ul li strong {
    color: #4CAF50;
}

@media screen and (max-width: 768px) {
    .impact-numbers {
        flex-direction: column;
        align-items: center;
    }
}

