/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e4d7c5;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    display: flex;
    gap: 40px;
    padding: 20px 40px;
}

header a {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

/* Navigation Styles */
nav {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    gap: 30px;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

/* Main Styles */
main {
    display: flex;
    overflow: auto;
    height: 100%;
}

section {
    padding: 20px 40px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* Typography */
h2 {
    font-family: "Lobster", sans-serif;
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #3d3933;
    font-size: 7vw;
    color: #FFF;
}

/* Reusable Block */
.block {
    display: flex;
}

/* Logo */
.logo {
    height: 80px;
}

/* Form Styles */
form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #666;
}

/* Footer Styles */
footer {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    color: #333;
    font-size: 12px;
    line-height: 16px;
}

/* Media query for screens smaller than 700px */
@media (max-width: 700px) {
    nav {
        justify-content: center;
    }
}

#map {
    height: 400px;
    width: 100%;
}

.custom-map-control-button {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;
    padding: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-map-control-button:hover {
    background-color: #4CAF50;
    color: white;
}
